<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="simpleUrlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/userlist">userController</prop>
				<prop key="/modify">modifyController</prop>
            </props>
        </property>
		<property name="interceptors">
			<list>
				<ref bean="countTimeInterceptor" />
			</list>
		</property>
    </bean>

	<bean id="countTimeInterceptor" class="guo.ping.mvctest.interceptor.CountTimeInterceptor" />

    <bean id="userController" class="guo.ping.mvctest.controller.UserController" />
	<bean id="modifyController" class="guo.ping.mvctest.controller.ModifyController" />

</beans>